@import "tailwindcss";

:root {
  color-scheme: dark;

  /* Brand */
  --ops-bg: #040b1a; /* very deep blue */
  --ops-bg-2: #020617; /* even deeper */
  --ops-accent: #f97316; /* orange */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--ops-bg);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

::selection {
  background: rgba(249, 115, 22, 0.28);
}
